<div class="container contenedor-principal">
  <h1 class="text-center">{{titulo}}</h1>
  <h2 class="text-center">{{subtitulo}}</h2>

  <form class="form-inline mt-5">
      <div class="form-group col-md-4">
        <label for="numero1">Valor 1: </label>
        <input type="number" [(ngModel)]="valor1" class="form-control" id="numero1" name="numero1" placeholder="Ingresá un número" pattern="/^[0-9]+(\.[0-9]{1,2})?$/">
      </div>

      <div class="form-group col-md-4">
        <label for="numero2">Valor 2: </label>
        <input type="number" [(ngModel)]="valor2" class="form-control" id="numero2" name="numero2" placeholder="Ingresá un número" step="0.01" min="0">
      </div>

      <div class="form-group col-md-4">
        <label for="resultado">Resultado: </label>
        <input type="number" [(ngModel)]="resultado" class="form-control" id="resultado" name="resultado" readonly step="0.01" min="0">
      </div>
  </form>

  <div class="form-group row mt-4">
    <div class="col text-center">
      <button (click)="sumar()" type="button" class="btn btn-primary">Sumar (+)</button>
      <button (click)="restar()" type="button" class="btn btn-danger ml-2">Restar (-)</button>
      <button (click)="multiplicar()" type="button" class="btn btn-info ml-2">Multiplicar (*)</button>
      <button (click)="dividir()" type="button" class="btn btn-warning ml-2">Dividir (/)</button>
    </div>
  </div>

</div>
